#box {
    /*background-image: url("../img/back.png");*/
    /*background-repeat: no-repeat;*/
    background-color: #669;
}

#b1_f {
    width: 246px;
    height: 305px;

    background-image: url('../img/1.png');
    background-repeat: no-repeat;
}

#b1_b {
    float: left;

    width: 246px;
    height: 305px;

    background-color: white;
}

#b1_b_text {
	float: left;

    width: 246px;
    height: auto;

    background-color: white;
}

#b2_f {
    width: 246px;
    height: 305px;

    background-image: url('../img/2.png');
    background-repeat: no-repeat;
}

#b2_b {
    float: left;

    width: 246px;
    height: 305px;

    background-color: white;
}

#b3_f {
    width: 246px;
    height: 305px;

    background-image: url('../img/3.png');
    background-repeat: no-repeat;
}

#b3_b {
    float: left;

    width: 246px;
    height: 305px;

    background-color: white;
}

.divbor {
    border-width: 1px;
    border-style: solid;
    border-color: black/*white*/
    ;
}

.title {
    font-size: 50px;
    line-height: 140px;

    height: 140px;

    text-align: center;

    opacity: 1;
    color: white;
}

.divcss1 {
    float: left;

    width: 780px;
    height: 140px;
    margin: 10px 10px;

    background-color: #f90;
}

.divcss2 {
    float: left;

    width: 246px;
    height: 305px;
    margin: 5px 10px;

    text-align: center;
}

.shadow1 {
    box-shadow: 5px 5px 2px #f90;
}

.box {
    position: relative;

    width: 800px;
    height: 480px;
}

.list_1 {
    position: absolute;
}

.list_2 {
    position: absolute;
}

.list_3 {
    position: absolute;
}